<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="print.css">
    <title>PRINT</title>
    
</head>
<body>
    <div class="page">
        <div class="invoice-header">
            <div class="wrapper">
                <div class="info left">
                    <span>Furnizor: R-BIZ COMERCE S.R.L.</span>
                    <span>Reg. com.: J21/338/2020</span>
                    <span>CIF: 42921264</span>
                    <span>Adresa: Str. Soseaua Urziceni, Nr. 30, Maia, Jud. Ialomita</span>
                    <span>IBAN: RO50INGB0000999910590762</span>
                    <span>Banca: ING BANK NV</span>
                    <span>Capital social: 200 Lei</span>
                </div>
                <div class="center">
                    <span class="invoice-title">FACTURA</span>
                    <div class="invoice-det">
                        <span>Seria BIZ Numarul 0210</span>
                        <span>Data (zi/luna/an): 13/06/2022</span>
                    </div>
                </div>
                <div class="info right">
                    <div>
                        <span>Client: R-BIZ COMERCE S.R.L.</span>
                        <span>Adresa: Str. Soseaua Urziceni, Nr. 30, Maia, Jud. Ialomita</span>
                        <span>CUI: 42921264</span>
                        <span>ONRC: J21/338/2020</span>
                        <span>IBAN: RO50INGB0000999910590762</span>
                        <span>Banca: ING BANK NV</span>
                        <span>Capital social: 200 Lei</span>
                    </div>
                </div>
            </div>        
        </div>
        <div class="invoice-body">
            <table>
                <thead>
                    <tr>
                        <th style="width: 15mm;">Nr. Crt.</th>
                        <th style="width: 105mm;">Denumirea produselor sau a serviciilor</th>
                        <th style="width: 20mm;">U.M.</th>
                        <th style="width: 20mm;">Cant.</th>
                        <th style="width: 20mm;">Pret unitar <br> -Lei- </th>
                        <th style="width: 20mm;">Valoarea <br> -Lei- </th>
                    </tr>
                </thead>
                <tbody style="overflow: hidden !important;">
                    <tr class="subtitle">
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5(3x4)</td>
                    </tr>
            
                    <tr class="item">
                        <td class="text-center">1</td>
                        <td class="text-left">Prestari servicii</td>
                        <td class="text-center">buc.</td>
                        <td class="text-center">1</td>
                        <td class="text-right">2000</td>
                        <td class="text-right">2000</td>
                    </tr>
                    <tr class="item">
                        <td class="text-center">2</td>
                        <td class="text-left">Prestari servicii</td>
                        <td class="text-center">buc.</td>
                        <td class="text-center">1</td>
                        <td class="text-right">2000</td>
                        <td class="text-right">2000</td>
                    </tr>
                    <tr class="item">
                        <td class="text-center">3</td>
                        <td class="text-left">Prestari servicii</td>
                        <td class="text-center">buc.</td>
                        <td class="text-center">1</td>
                        <td class="text-right">2000</td>
                        <td class="text-right">2000</td>
                    </tr>

                    
            
                    <tr class="empty-space">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            
                </tbody>
            </table> 
        </div>
        <div class="invoice-footer">
            <table>
                <tbody>
                    <tr>
                        <td rowspan="2" style="width: 30mm;">Semnatura si stampil</td>
                        <td rowspan="2" style="width: 89.5mm;">Denumirea produselor sau a serviciilor</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="width: 20mm;">U.M.</td>
                        <td style="width: 20mm;">Cant.</td>
                        <td style="width: 40mm;">Valoarea <br> -Lei- </th>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</body>
</html>